body {
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
}

.header-title {
    color: #8B0000;
    font-size: 25px;
}

.header {
    text-align: center;
}

h2 {
    text-align: left;
    color: black;
    font-size: 25px;
}
.h2-header {
    text-align: left;
    color: black;
    font-size: 25px;
    margin-left: 1.5em;
}

h3 {
    text-align: left;
    color: black;
    font-size: 20px;
}

p {
    text-align: left;
}

.p-story {
    text-align: left;
    font-size: 15px;
    margin: 1em 2em 2em 3em;
    line-height: 1.5;
}

ul {
    list-style-type: circle;
}

.li-design {
    text-align: left;
    font-size: 20px;
    margin-left: 1.25em;
}

.li-design-ordered {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: grey;
}

#lasagna {
    text-align: center;
    color: red;
}

#pizza {
    text-align: center;
    color: brown;
}

#risotto {
    text-align: center;
    color: rgb(238, 219, 11);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-color: black;
    border-radius: 10px;
}

.description {
    text-align: left;
    color: black;
    font-size: 15px;
}

.short-story {
    text-align: center;
    color: black;
    font-size: 15px;
}

.subtitle {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 1em 1em 1em 1em;
}
/* Containers and Flex */
.container-footer {
    display: flex;
    justify-content: space-between;
    background-color: #8B0000;
    padding: 1em;

}

.container-header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 1em;
    align-items: baseline;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.container-body {
    display: flex;
    padding: 0em 0em 0em 2em;
}

.container-list {
    display: flex;
    align-items: center;
}